.container{
  max-width: 800px;
  margin: auto;
}
.row{
  width:100%;
  display: flex;
}
.col-full{
  width:100%;
}
.col-fifth{
  width:20%;
}
.strike{
  text-decoration:line-through;
}
.grey{
  color: lightgray;
}
img{
  width:50%;
}
