.container {
  max-width: 800px;
  margin: auto;
}

.row{
  display: flex;
  margin: 1rem;
}

.col-full{
  width: 100%;
}

.col-half{
  width: 50%;
  display: flex;
}

.col-three-quarters{
  width:75%;
  padding: 3px;
}

.section-header{
  text-align: center;
}
.section-footer{
  display: flex;
  justify-content: center;
}
button{
  background-color: white;
  color: red;
  border: red solid 2px;
  padding: 6px 30px;
}
