.container {
  max-width: 800px;
  margin: auto;
}

.row{
  display: flex;
  width: 100%;
}

.col-half {
  width: 50%;
}

.col-quarter {
  width: 25%;
}

.col-third {
  width: 33%;
}

.navbar{
  margin-top: 1rem;
  border-bottom: solid 1px rgb(217, 217, 217);
}

.grey{
  color: rgb(217, 217, 217);
}

.blue-logo{
  width: 25%;
}
button{
  text-decoration: none;
  border: none;
}
.white-button{
  background-color: white;
}
.blue-button{
  background-color: rgb(41, 68, 100);
  color: rgb(217, 217, 217);
  border-radius: 3px;
}

.nav-buttons{
  display: flex;
  justify-content: space-between;
}

.hero{
  background-image: url("./images/hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}
.overlay{
  background-color: rgba(0,0,0,.2);
}

.p-half{
  padding: .5rem;
}

.pt-half{
  padding-top: .5rem;
}
.pb-half{
  padding-bottom: .5rem;
}
.pt-1{
  padding-top: 1rem;
}
.pb-1{
  padding-bottom: 1rem;
}
.pl-2{
  padding-left: 2rem;
}
.pr-2{
  padding-right: 2rem;
}
.p-1{
  padding: 1rem;
}
.p-2{
  padding: 2rem;
}

.mt-1{
  margin-top:1rem;
}

.mt-2{
  margin-top:2rem;
}
.mb-1{
  margin-bottom:1rem;
}
.jc-a {
  justify-content: space-around;
}
.txt-c{
  text-align: center;
}
