button:hover{
  background-color: black;
  color: white;
}
button{
  font-size: 1.5rem;
  padding: .5rem 1.5rem;
}
th{
  background-color: black;
  color: white;
}
tr{
  background-color:lightgray;
}
tr:nth-child(2n){
  background-color: white;
}
