.circle {
  height: 300px;
  width: 300px;
  border-radius: 50%;
  position: relative;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
}

.dark-bg{
  background-color: black
}

.light-bg{
  background-color: white;
}

.light-bulb{
  background-color: lightyellow;
}

.dark-bulb{
  background-color: grey;
}

.container {
  width: 100vw;
  height: 100vh;
  margin: 0;
}

body {
  margin:0;
}
